
/* 
Pop-up text on hover. 
From: https://www.w3schools.com/howto/howto_js_popup.asp 
Usage:
<div class=\"popup\" onmouseover=\"myPopup()\" onmouseout=\"myPopup();\"><sup><font size=-1 color=green>note</font></sup><span class=\"popuptext\" id=\"myPopup\">popup text</span></div>
<div class="popup" onmouseover="myPopup()" onmouseout="myPopup();"><sup><font size=-1 color=green>note</font></sup><span class="popuptext" id="myPopup">popup text</span></div>
*/

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;  /*-80 in center, -180 moves it to the left, -10 moves it to the right */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;  /* 50% for center, 90% for left, 10% for right */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .popuptextl { /* added 7/27/26 to pop up the text to the left of the cursor position */
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -180px;  /*-80 in center, -180 moves it to the left, -10 moves it to the right */
}

/* Popup arrow */
.popup .popuptextl::after { /* added 7/27/26 to pop up the text to the left of the cursor position */
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;  /* 50% for center, 90% for left, 10% for right */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .popuptextr { /* added 7/27/26 to pop up the text to the right of the cursor position */
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -10px;  /*-80 in center, -180 moves it to the left, -10 moves it to the right */
}

/* Popup arrow */
.popup .popuptextr::after { /* added 7/27/26 to pop up the text to the right of the cursor position */
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;  /* 50% for center, 90% for left, 10% for right */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; 
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

